<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <div class='main-content'>
        {{>header}}
        <p>This website try to provide you the real time weather information to you and its use weather stck servers</p>
    </div>
    
    

    {{>footer}}
    
    
</body>
</html>